In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
url = 'Corona Virus Dataset.csv'

In [4]:
url

'Corona Virus Dataset.csv'

In [5]:
df = pd.read_csv(url)

In [6]:
df.head()

,Province,Country/Region,Latitude,Longitude,Date,Confirmed,Deaths,Recovered
0,Afghanistan,Afghanistan,33.93911,67.709953,22-01-2020,0,0,0
1,Afghanistan,Afghanistan,33.93911,67.709953,23-01-2020,0,0,0
2,Afghanistan,Afghanistan,33.93911,67.709953,24-01-2020,0,0,0
3,Afghanistan,Afghanistan,33.93911,67.709953,25-01-2020,0,0,0
4,Afghanistan,Afghanistan,33.93911,67.709953,26-01-2020,0,0,0

In [7]:
df.rename(columns = {'Country/Region':'Country'},inplace = True)

In [8]:
df.columns

Index(['Province', 'Country', 'Latitude', 'Longitude', 'Date', 'Confirmed',
       'Deaths', 'Recovered'],
      dtype='object')

In [9]:
df.dtypes

Province      object
Country       object
Latitude     float64
Longitude    float64
Date          object
Confirmed      int64
Deaths         int64
Recovered      int64
dtype: object

In [10]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [11]:
# Question 1. Write a code to check NULL values

In [12]:
df.isnull().value_counts()

Province  Country  Latitude  Longitude  Date   Confirmed  Deaths  Recovered
False     False    False     False      False  False      False   False        78386
Name: count, dtype: int64

In [13]:
# Question 2. If NULL values are present, update them with zeros for all columns.

In [14]:
df.replace(np.NaN,0,inplace = True)

In [15]:
df.isnull().value_counts()

Province  Country  Latitude  Longitude  Date   Confirmed  Deaths  Recovered
False     False    False     False      False  False      False   False        78386
Name: count, dtype: int64

In [16]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\andrew\anaconda3.1\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\andrew\anaconda3.1\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\andrew\anaconda3.1\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\andrew\anaconda3.1\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\andrew\anaconda3.1\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\andrew\anaconda3.1\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\andrew\anaconda3.1\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\andrew\anaconda3.1\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\andrew\anaconda3.1\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [17]:
%reload_ext sql

In [18]:
import sqlite3

In [19]:
con = sqlite3.connect('SQLiteMagic.db')
cur = con.cursor()

In [20]:
df.to_sql('corona_virus', con, index=False, if_exists='replace')

78386

In [21]:
%sql sqlite:///SQLiteMagic.db

In [22]:
%sql select * from corona_virus limit 5;

 * sqlite:///SQLiteMagic.db
Done.

[('Afghanistan', 'Afghanistan', 33.93911, 67.709953, '2020-01-22 00:00:00', 0, 0, 0),
 ('Afghanistan', 'Afghanistan', 33.93911, 67.709953, '2020-01-23 00:00:00', 0, 0, 0),
 ('Afghanistan', 'Afghanistan', 33.93911, 67.709953, '2020-01-24 00:00:00', 0, 0, 0),
 ('Afghanistan', 'Afghanistan', 33.93911, 67.709953, '2020-01-25 00:00:00', 0, 0, 0),
 ('Afghanistan', 'Afghanistan', 33.93911, 67.709953, '2020-01-26 00:00:00', 0, 0, 0)]

In [23]:
# Question 3. check total number of rows

In [24]:
%%sql
select count(*)
from corona_virus;

 * sqlite:///SQLiteMagic.db
Done.

[(78386,)]

In [25]:
# Question 4. Check what is start_date and end_date

In [26]:
%%sql
select min(Date) as Start_date,max(Date) as End_date
from corona_virus;

 * sqlite:///SQLiteMagic.db
Done.

[('2020-01-22 00:00:00', '2021-06-13 00:00:00')]

In [27]:
# Question 5. Number of month present in dataset

In [28]:
%%sql
SELECT COUNT(DISTINCT strftime('%Y-%m', Date)) AS Number_of_Months
FROM corona_virus;

 * sqlite:///SQLiteMagic.db
Done.

[(18,)]

In [29]:
# Question 6. Find monthly average for confirmed, deaths, recovered

In [30]:
%%sql
SELECT strftime('%m', Date) AS Month,round(AVG(Confirmed)) as Average_Confirmed,round(AVG(Deaths)) as Average_Deaths,round(AVG(Recovered)) as Average_Recovered
FROM corona_virus
group by Month;

 * sqlite:///SQLiteMagic.db
Done.

[('01', 2958.0, 64.0, 1451.0),
 ('02', 1203.0, 34.0, 769.0),
 ('03', 1539.0, 34.0, 840.0),
 ('04', 2603.0, 60.0, 1623.0),
 ('05', 2290.0, 54.0, 2163.0),
 ('06', 1358.0, 41.0, 1220.0),
 ('07', 1432.0, 35.0, 983.0),
 ('08', 1612.0, 38.0, 1299.0),
 ('09', 1785.0, 35.0, 1439.0),
 ('10', 2412.0, 37.0, 1421.0),
 ('11', 3592.0, 57.0, 1985.0),
 ('12', 4050.0, 71.0, 2498.0)]

In [31]:
#  Question 7. Find most frequent value for confirmed, deaths, recovered each month

In [54]:
%%sql
select strftime('%m',Date) as Month,Confirmed,count(Distinct(Confirmed)) as Most_frequent_value_Confirmed
from corona_virus
group by Month
order by Most_frequent_value_Confirmed desc

 * sqlite:///SQLiteMagic.db
Done.

[('04', 22, 2554),
 ('05', 164, 2470),
 ('03', 0, 2230),
 ('12', 242, 2120),
 ('01', 0, 2078),
 ('11', 76, 2006),
 ('02', 0, 1857),
 ('10', 17, 1845),
 ('06', 545, 1773),
 ('09', 34, 1523),
 ('08', 35, 1454),
 ('07', 319, 1353)]

In [55]:
%%sql
select strftime('%m',Date) as Month,Deaths,count(Distinct(Deaths)) as Most_frequent_value_Death
from corona_virus
group by Month
order by Most_frequent_value_Death desc

 * sqlite:///SQLiteMagic.db
Done.

[('04', 0, 638),
 ('05', 4, 572),
 ('01', 0, 520),
 ('12', 27, 504),
 ('03', 0, 485),
 ('11', 0, 456),
 ('02', 0, 448),
 ('06', 8, 414),
 ('10', 0, 374),
 ('08', 1, 348),
 ('07', 28, 336),
 ('09', 4, 334)]

In [56]:
%%sql
select strftime('%m',Date) as Month,Recovered,count(Distinct(Recovered)) as Most_frequent_value_Recovered
from corona_virus
group by Month
order by Most_frequent_value_Recovered desc

 * sqlite:///SQLiteMagic.db
Done.

[('05', 50, 2143),
 ('04', 0, 1964),
 ('01', 0, 1765),
 ('12', 115, 1759),
 ('03', 0, 1698),
 ('11', 5, 1613),
 ('02', 0, 1585),
 ('06', 100, 1518),
 ('10', 53, 1405),
 ('09', 142, 1246),
 ('08', 0, 1241),
 ('07', 1520, 1161)]

In [35]:
# Question 8. Find minimum values for confirmed, deaths, recovered per year

In [36]:
%%sql
select strftime('%Y',Date) as Year,min(Confirmed) as Minimum_Confirmed,min(Deaths) as Minimum_Deaths,min(Recovered) as Minimum_Recovered
from corona_virus
group by Year;

 * sqlite:///SQLiteMagic.db
Done.

[('2020', 0, 0, 0), ('2021', 0, 0, 0)]

In [37]:
# Question 9. Find maximum values of confirmed, deaths, recovered per year

In [38]:
%%sql
select strftime('%Y',Date) as Year,max(Confirmed) as Maximum_Confirmed,max(Deaths) as Maximum_Deaths,max(Recovered) as Maximum_Recovered
from corona_virus
group by Year;

 * sqlite:///SQLiteMagic.db
Done.

[('2020', 823225, 3752, 1123456), ('2021', 414188, 7374, 422436)]

In [39]:
# Question 10. The total number of case of confirmed, deaths, recovered each month

In [40]:
%%sql
select strftime('%m',Date) as Month,sum(Confirmed) as Total_Confirmed,sum(Deaths) as Total_Deaths,sum(Recovered) as Total_Recovered
from corona_virus
group by Month;

 * sqlite:///SQLiteMagic.db
Done.

[('01', 18678589, 402083, 9164490),
 ('02', 10560976, 300890, 6751190),
 ('03', 14694026, 323966, 8021083),
 ('04', 24047819, 554220, 14998494),
 ('05', 21865416, 511110, 20651389),
 ('06', 8991916, 270414, 8079855),
 ('07', 6838092, 167613, 4693120),
 ('08', 7694938, 179200, 6202833),
 ('09', 8244794, 160671, 6647749),
 ('10', 11515841, 175484, 6782150),
 ('11', 16595938, 262247, 9172292),
 ('12', 19336799, 339996, 11924903)]

In [41]:
# Question 11. Check how corona virus spread out with respect to confirmed case(Eg.: total confirmed cases, their average, variance & STDEV )

In [42]:
%%sql
select sum(Confirmed) as Total_confirmed_cases,round(avg(Confirmed)) as Average_confirmed_cases,
       avg(Confirmed-(select avg(Confirmed) from corona_virus)*(Confirmed-(select avg(Confirmed) from corona_virus))) as variance_confirmed,
       avg(Confirmed-(select avg(Confirmed) from corona_virus)) as STDEV_Confirmed
from corona_virus;

 * sqlite:///SQLiteMagic.db
Done.

[(169065144, 2157.0, 2156.8283112728072, -4.4168625232486685e-10)]

In [43]:
# Q12. Check how corona virus spread out with respect to death case per month(Eg.: total confirmed cases, their average, variance & STDEV )

In [44]:
%%sql
select strftime('%m',Date) as Month,sum(Deaths) as Total_Death_cases,round(avg(Deaths)) as Average_Death_cases,
       avg(Deaths-(select avg(Deaths) from corona_virus)*(Deaths-(select avg(Deaths) from corona_virus))) as variance_Deaths,
       avg(Deaths-(select avg(Deaths) from corona_virus)) as STDEV_Deaths
from corona_virus
group by Month;

 * sqlite:///SQLiteMagic.db
Done.

[('01', 402083, 64.0, -734.1409688000145, 17.143614184464706),
 ('02', 300890, 34.0, 604.8204742247024, -12.259830680468623),
 ('03', 323966, 34.0, 620.6444444414913, -12.607323312340487),
 ('04', 554220, 60.0, -565.621666940438, 13.442948995993069),
 ('05', 511110, 54.0, -271.9071989137395, 6.993011836380263),
 ('06', 270414, 41.0, 306.18693670147684, -5.701871299988622),
 ('07', 167613, 35.0, 566.9417796263177, -11.428018745942405),
 ('08', 179200, 38.0, 456.41730765226356, -9.00091359303007),
 ('09', 160671, 35.0, 582.0729585244337, -11.760297757253412),
 ('10', 175484, 37.0, 491.8629741626247, -9.779296500445888),
 ('11', 262247, 57.0, -419.12276864790243, 10.225849428894572),
 ('12', 339996, 71.0, -1077.3613231876684, 24.680695120837477)]

In [45]:
# Question 13. Check how corona virus spread out with respect to recovered case(Eg.: total confirmed cases, their average, variance & STDEV )

In [46]:
%%sql
select sum(Recovered) as Total_Recovered_cases,round(avg(Recovered)) as Average_Recovered_cases,
       avg(Recovered-(select avg(Recovered) from corona_virus)*(Recovered-(select avg(Recovered) from corona_virus))) as variance_Recovered,
       avg(Recovered-(select avg(Recovered) from corona_virus)) as STDEV_Recovered
                        
from corona_virus;

 * sqlite:///SQLiteMagic.db
Done.

[(113089548, 1443.0, 1442.7263543091583, -2.1397829528663786e-10)]

In [47]:
# Q14. Find Country having highest number of the Confirmed case

In [48]:
%%sql
select Country,sum(Confirmed) as Total_confirmed_case
from corona_virus
group by Country
order by Total_confirmed_case desc
limit 1;

 * sqlite:///SQLiteMagic.db
Done.

[('US', 33461982)]

In [49]:
# Question 15. Find Country having lowest number of the death case

In [50]:
%%sql
select Country,sum(Deaths) as Total_Death_case
from corona_virus
group by Country
order by Total_death_case asc
limit 1;

 * sqlite:///SQLiteMagic.db
Done.

[('Dominica', 0)]

In [51]:
# Q16. Find top 5 countries having highest recovered case

In [52]:
%%sql 
select Country,sum(Recovered) as Total_Recovered_case
from corona_virus
group by Country
order by Total_Recovered_case desc
limit 5;

 * sqlite:///SQLiteMagic.db
Done.

[('India', 28089649),
 ('Brazil', 15400169),
 ('US', 6303715),
 ('Turkey', 5202251),
 ('Russia', 4745756)]